Checks: '
  clang-diagnostic-*, 
  clang-analyzer-*, 
  modernize-*, 
  misc-unused-parameters,
  cppcoreguidelines-pro-type-cstyle-cast,
  
  -modernize-use-trailing-return-type, 
  -modernize-use-nodiscard, 
  -modernize-use-std-numbers, 
  -modernize-use-transparent-functors, 
  -modernize-use-bool-literals
'
WarningsAsErrors: true